@font-face {
    font-family: "Vazir";
    src: url(assets/fonts/Vazir.eot);
    src: url(assets/fonts/Vazir.eot?#iefix) format("embedded-opentype"), url(assets/fonts/Vazir.woff2) format("woff2"), url(assets/fonts/Vazir.woff)format("woff"), url(assets/fonts/Vazir.ttf) format("truetype");
}

body {
    font-family: "Vazir" !important;
    background: url(./assets/images/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dark .dark-bg-body {
    background: url(./assets/images/bg-dark.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* dark mode swich */

.lh-0 {
    line-height: 0;
}

.dark-swich {
    height: 1.5rem !important;
    width: 2.5rem !important;
}

.dark .dark-text-white {
    color: white;
}


/* Header */

.header {
    padding-top: 70px;
}

.text-gray {
    color: #44494e !;
}

.countdown div {
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin: 10px;
    width: 100px;
    padding: 15px 0;
}

@media( max-width: 575px) {
    .countdown div {
        border-radius: 8px;
        margin: 10px 8px;
        width: 70px;
        padding: 10px 0;
    }
}


/* ityped.js */

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}