@font-face {
    font-family: "Vazir";
    src: url(asessts/fonts/Vazir.eot);
    src: url(asessts/fonts/Vazir.eot?#iefix) format("embedded-opentype"), url(asessts/fonts/Vazir.woff2) format("woff2"), url(asessts/fonts/Vazir.woff)format("woff"), url(asessts/fonts/Vazir.ttf) format("truetype");
}

body {
    font-family: "Vazir" !important;
    background: url(./assets/images/bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dark .dark-bg-body {
    background: url(./assets/images/bg-dark.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* dark mode swich */

.lh-0 {
    line-height: 0;
}

.dark-swich {
    height: 1.5rem !important;
    width: 2.5rem !important;
}

.dark .dark-text-white {
    color: white;
}